.animationSettings {
  .animationName, .animationDelaySettings, .animationDurationSettings{
    margin: 10px;
    height: 40px;
    >div{
      display: inline-block;
      vertical-align: middle;
    }

    .dropdown{
      float: right;

      button{
        width: 150px;
      }

    }

  }

}
