/**
 * brick.css
 * css styles of basic Brick.js
 */

.aivics-brick {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 48px;
  width: 48px;
  background-color: #D2B48C;
}

 .ui-resizable-helper {
   border: 1px dotted #00F;
 }
