/**
 * brick.css
 * css styles of basic Brick.js
 */

.aivics-brick {
  position: absolute;
  overflow: visible;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: dotted 1px gray;
}

.aivics-brick > .aivics-brick-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aivics-brick .aivics-brick-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aivics-brick-content-overlay:hover {
  cursor: pointer;
  background: rgba(210,210,210,0.2)
}

.aivics-brick .aivics-brick-content-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
}

/*.aivics-brick:hover {
  cursor: all-scroll;
}*/

/*.aivics-brick-handy {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 5px;
  height: 5px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}

.aivics-brick-mask {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(121, 121, 121, 0.3);
}

.aivics-brick-mask:hover {
  cursor: all-scroll;
}*/
/*
.aivics-brick-resizer {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
}

.aivics-brick-resizer #brickHandy1 {
  top: 0;
  left:0;
  cursor:nwse-resize;
}

.aivics-brick-resizer #brickHandy2 {
  top: 0px;
  cursor:row-resize;
}

.aivics-brick-resizer #brickHandy3 {
  top: 0;
  right: 0;
  cursor:nesw-resize;
}
.aivics-brick-resizer #brickHandy4 {
  right: 0;
  cursor: col-resize;
}


.aivics-brick-resizer #brickHandy5 {
  right: 0;
  bottom: 0;
  cursor:nwse-resize;
}
.aivics-brick-resizer #brickHandy6 {
  bottom: 0;
  cursor:row-resize;
}
.aivics-brick-resizer #brickHandy7 {
  bottom: 0;
  cursor:nesw-resize;
}
.aivics-brick-resizer #brickHandy8 {
  left: 0;
  cursor: col-resize;
}*/
