.aivcis-page-title-paragraph{
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  padding: 0px;
  margin: 0px;
}

.aivics-page-preview {
  position: absolute;

  .aivics-brick-content-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
}

.aivics-page-image{
  @extend .aivcis-page-title-paragraph;
  // height: 100%;
}

.aivics-page-header{
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #1A191E;
  text-align: center;
  z-index: 100000;
  p{
    color: white;
  }

  p.status{
    font-size: 12px;
  }

  p.title{
    font-size: 18px;
  }

}

.aivics-page-preview {
  div.aivics-page-content-wrapper {
    position: relative;
    top: 0;left: 0;width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
