.aivics-brick-handy {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 5px;
  height: 5px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}


.aivics-brick-mask {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}

.aivics-brick-mask:hover {
  cursor: all-scroll;
  background: rgba(121, 121, 121, 0.1);
}

.aivics-brick-mask .aivics-brick-ref-line {
  position: absolute;
  background-color: red;
  border: 0;
  mergin: 0;
  padding: 0;
}

#brickRefTop {
  top: 5px;
  left: -4000px;
  width: 8000px;
  height: 1px;
}

#brickRefBottom {
  bottom: 5px;
  left: -4000px;
  width: 8000px;
  height: 1px;
}

#brickRefLeft {
  left: 5px;
  top: -4000px;
  height: 8000px;
  width: 1px;
}

#brickRefRight {
  right: 5px;
  top: -4000px;
  height: 8000px;
  width: 1px;
}

.aivics-brick-mask #brickHandy1 {
  top: 0;
  left:0;
  cursor:nwse-resize;
}

.aivics-brick-mask #brickHandy2 {
  top: 0px;
  left: 50%;
  cursor:row-resize;
}

.aivics-brick-mask #brickHandy3 {
  top: 0;
  right: 0;
  cursor:nesw-resize;
}
.aivics-brick-mask #brickHandy4 {
  top: 50%;
  right: 0;
  cursor: col-resize;
}

.aivics-brick-mask #brickHandy5 {
  right: 0;
  bottom: 0;
  cursor:nwse-resize;
}
.aivics-brick-mask #brickHandy6 {
  left: 50%;
  bottom: 0;
  cursor:row-resize;
}
.aivics-brick-mask #brickHandy7 {
  bottom: 0;
  cursor:nesw-resize;
}
.aivics-brick-mask #brickHandy8 {
  left: 0;
  top: 50%;
  cursor: col-resize;
}
